<script>

import axios from 'axios'
import {get} from 'lodash'

import {dataSource} from './conf/infectionsregions.js'
import {endpointComponent} from './conf/infectionsregions.js'

export default {
	name: 'ComponentInfectionsRegions',
	data: () => ({
		type: "pyramid",
		width: "100%",
		height: "300",
		dataFormat: "json",
		dataSource
	}),
	mounted() {
		this.loadDataForInfectionsRegionsGraph().then(() => {
            console.log('Infections Data Loaded');
        });
	},
	methods: {
		loadDataForInfectionsRegionsGraph() {
			return new Promise((resolve, reject) => {
				axios.get(endpointComponent).then(response => {
					this.message = 'Everything is OK!'
					let jsonData = get(response, 'data')
					if (jsonData) {
						console.log(jsonData);
					}
					resolve(this.dataSource);
				}).catch(reason => {
					console.log('loadDataForInfectionsRegionsGraph: ERROR ERROR ERROR'); 
					console.log(reason); 
					reject(reason)
				})
			})
        }
	}
};

</script>




<template>
  <div id="ComponentInfectionsRegions">
    <fusioncharts
    :type="type"
    :width="width"
    :height="height"
    :dataFormat="dataFormat"
    :dataSource="dataSource"
    ></fusioncharts>	
</div>
</template>