<script>
import axios from 'axios'
import {get} from 'lodash'

import {dataSource} from './conf/map.js'
import {endpointComponent} from './conf/map.js'

export default {
	name: 'ComponentMap',
	data() {
		return {
			width: '100%',
			height: '600',
			type: 'maps/netherlands',
			dataFormat: 'json',
			dataSource: dataSource,
			mapData: null
		}
	},
	mounted() {
		this.loadDataForMap().then(() => {
            console.log('Map Data Loaded');
        });
	},
	methods: {
		loadDataForMap () {
			return new Promise((resolve, reject) => {	
				axios.get(endpointComponent).then(response => {
					this.message = 'Everything is OK!'
					this.mapData = get(response, 'data')
					this.dataSource.data = this.mapData
					resolve(this.dataSource.data);
				}).catch(reason => {
					console.log('loadDataForMap: ERROR ERROR ERROR'); 
					console.log(reason); 
					reject(reason)
				})
			})
        }
	}
};
</script>




<template>
  <div id="ComponentMap" style="background-color: #FFF3D4">
    <fusioncharts
    :type="type"
    :width="width"
    :height="height"
    :dataFormat="dataFormat"
    :dataSource="dataSource"
    ></fusioncharts>	
</div>
</template>