<script>
import FusionCharts from "fusioncharts";
import Charts from "fusioncharts/fusioncharts.charts";

Charts(FusionCharts);

import axios from 'axios'
import {get} from 'lodash'

import {dataSource} from './conf/infections.js'
import {endpointComponent} from './conf/infections.js'

export default {
	name: 'ComponentInfections',
	data: () => ({
		type: "column2d",
		width: "100%",
		height: "400",
		dataFormat: "json",
		dataSource
	}),
	mounted() {
		this.loadDataForComponentInfectionsGraph().then( () => {
			console.log('Infections Data Loaded');
		});
	},
	methods: {
		loadDataForComponentInfectionsGraph () {
			return new Promise((resolve, reject) => {	
				axios.get(endpointComponent+this.$store.state.country+'/infectionsData').then(response => {
					this.message = 'Everything is OK!'
					let jsonData = get(response, 'data')
					this.dataSource.data = jsonData
					resolve(this.dataSource.data);
				}).catch(reason => {
					console.log('loadDataForComponentInfectionsGraph: ERROR ERROR ERROR'); 
					console.log(reason); 
					reject(reason)
				})
			});
		}
	}
};
</script>




<template>
  <div id="ComponentInfections">
    <fusioncharts
    :type="type"
    :width="width"
    :height="height"
    :dataFormat="dataFormat"
    :dataSource="dataSource"
    ></fusioncharts>	
</div>
</template>
