<script>

import axios from 'axios'
import {get} from 'lodash'

import {dataSource} from './conf/newcases.js'
import {endpointComponent} from './conf/newcases.js'


export default {
	name: 'ComponentNewCases',
	data() {
		return {
			width: '100%',
			height: '400',
			type: 'area2d',
			dataFormat: 'json',
			dataSource: dataSource
		}
	},
	mounted() {
		this.loadDataForNewCasesGraph().then(() => {
			console.log('NewCases Data Loaded');
		});
	},
	methods: {
		loadDataForNewCasesGraph() {
			return new Promise((resolve, reject) => {	
				axios.get(endpointComponent).then(response => {
					this.message = 'Everything is OK!'
					let jsonData = get(response, 'data')
					this.dataSource.data = jsonData
					resolve(this.dataSource.data);
				}).catch(reason => {
					console.log('loadDataForGlobalDeathGraph: ERROR ERROR ERROR'); 
					console.log(reason); 
					reject(reason)
				})
			});
		}
	}
};
</script>




<template>
  <div id="ComponentNewCases">
    <fusioncharts
    :type="type"
    :width="width"
    :height="height"
    :dataFormat="dataFormat"
    :dataSource="dataSource"
    ></fusioncharts>	
</div>
</template>