<script>

import axios from 'axios'
import {get} from 'lodash'

import {dataSource} from './conf/pyramid.js'
import {endpointComponent} from './conf/pyramid.js'

export default {
	name: 'ComponentViralPyramid',
	data: () => ({
		type: "pyramid",
		width: "100%",
		height: "400",
		dataFormat: "json",
		dataSource
	}),
	mounted() {
		this.loadDataForPyramidGraph().then( () => {
			console.log('Pyramid Data Loaded');
		});
	},
	methods: {
		loadDataForPyramidGraph () {
			return new Promise((resolve, reject) => {
				axios.get(endpointComponent).then(response => {
					this.message = 'Everything is OK!'
					let dataJson = get(response, 'data')
					if (dataJson) {
						console.log(dataJson)
					}

					resolve(this.dataSource);
				}).catch(reason => {
					console.log('loadDataForPyramidGraph: ERROR ERROR ERROR'); 
					console.log(reason); 
					reject(reason)
				})
			});
		}
	}
};
</script>




<template>
  <div id="ComponentViralPyramid">
    <fusioncharts
    :type="type"
    :width="width"
    :height="height"
    :dataFormat="dataFormat"
    :dataSource="dataSource"
    ></fusioncharts>	
</div>
</template>
