<script>

import axios from 'axios'
import {get} from 'lodash'

import {dataSource} from './conf/fatalityrate.js'
import {endpointComponent} from './conf/fatalityrate.js'


export default {
	name: 'ComponentFatalityRate',
	data: () => ({
		type: "mssplinearea",
		width: "100%",
		height: "600",
		dataFormat: "json",
		dataSource
	}),
	mounted() {
		this.loadDataForFatalityRate().then(() => {
            console.log('FatalityRate Data Loaded');
        });
	},
	methods: {
		loadDataForFatalityRate () {
			return new Promise((resolve, reject) => {	
				axios.get(endpointComponent).then(response => {
					this.message = 'Everything is OK!'
					let jsonData = get(response, 'data')
					this.dataSource.categories = jsonData.categories
					this.dataSource.dataset = jsonData.dataset
					resolve(this.dataSource);
				}).catch(reason => {
					console.log('loadDataForFatalityRate: ERROR ERROR ERROR'); 
					console.log(reason); 
					reject(reason)
				})
			})
		}
	}
};
</script>




<template>
  <div id="ComponentFatalityRate">
    <fusioncharts
    :type="type"
    :width="width"
    :height="height"
    :dataFormat="dataFormat"
    :dataSource="dataSource"
    ></fusioncharts>	
</div>
</template>
