<script>

import axios from 'axios'
import {get} from 'lodash'

import {dataSource} from './conf/reproduction.js'
import {endpointComponent} from './conf/reproduction.js'


export default {
	name: 'ComponentReproduction',
	data() {
		return {
			width: '100%',
			height: '400',
			type: 'msspline',
			dataFormat: 'json',
			dataSource: dataSource
		}
	},
	mounted() {
		this.loadDataForReproductionGraph().then(() => {
				console.log('Reproduction Data Loaded');
		});
	},
	methods: {
		loadDataForReproductionGraph () {
			return new Promise((resolve, reject) => {	
				axios.get(endpointComponent).then(response => {
					this.message = 'Everything is OK!'
					let dataJson = get(response, 'data')
					if (dataJson) {
						console.log(dataJson)
					}
					resolve(this.dataSource);
				}).catch(reason => {
					console.log('loadDataForReproductionGraph: ERROR ERROR ERROR'); 
					console.log(reason); 
					reject(reason)
				})
			});
		}
	}
};
</script>




<template>
  <div id="ComponentReproduction">
    <fusioncharts
    :type="type"
    :width="width"
    :height="height"
    :dataFormat="dataFormat"
    :dataSource="dataSource"
    ></fusioncharts>	
</div>
</template>
