<script>
import GraphInfections from './GraphInfections.vue'

export default {
	name: 'InfoRow',
	GraphInfections,
	data() {
		return {
			message: 'This is the National page. There is no information yet but it will be available soon.',
			key: 'nl',
			population: '17.424.635',
			firstCase: '6-3-2020'
		}
	},
	methods: {
		onChange: function() {
			this.$store.dispatch('changeCountry', this.key)
			GraphInfections.$forceUpdate();
		}
	}
}


</script>



<template>
	<div class="info-row">
		<div id="countries-list" class="select-wrapp"><select name="countries" @change="onChange()" v-model="key">
			<option value="nl">the Netherlands</option>
			<option value="ua">Ukraine</option>
		</select></div>
		<span>Population <b>{{population}}</b></span>
		<span>First case <b>{{firstCase}}</b></span>
	</div>
</template>