@font-face {
	font-family: 'Segoe UI';
	src: url('../fonts/SegoeUI.eot');
	src: local('Segoe UI'), local('SegoeUI'),
		url('../fonts/SegoeUI.eot?#iefix') format('embedded-opentype'),
		url('../fonts/SegoeUI.woff') format('woff'),
		url('../fonts/SegoeUI.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}  


html, body {margin: 0; padding: 0}
body {
	font-family: 'Segoe UI';
	background-color: #26AF73
}
#left-column {
	background: #26AF73;
	padding-top: 18px;
	height: 100%;
	min-height: 100vh;
	width: 126px;
	overflow: hidden;
	float: left
}
#left-column a.logo {
	display: block;
	margin: 0px 0 36px;
}
#left-column a.logo img {max-width: 100%}
#left-column .main-menu {
	
}
#left-column .main-menu ul {
	margin: 0;
	padding: 0;
}
#left-column .main-menu li {
	list-style: none;
	display: block;
	height: 96px;
	border-left: 4px solid #26AF73;
	text-align: center;
}
#left-column .main-menu li:hover, #left-column .main-menu li.active  {
	background-color: #3AB680;
	border-color: #fff;
}
#left-column .main-menu li:hover a, #left-column .main-menu li.active a  {
	background-color: #3AB680;
	border-color: #fff;
}
#left-column .main-menu li.global a {background-image: url('../img/global.png');}
#left-column .main-menu li.national a {background-image: url('../img/national.png');}
#left-column .main-menu li.local a {background-image: url('../img/local.png');}
#left-column .main-menu li.testing a {background-image: url('../img/testing.png');}
#left-column .main-menu li a {
	background-repeat: no-repeat;
	background-position: center 15px;
	display: block;
	color: #fff;
	text-decoration: none;
	padding: 66px 0 12px;
	cursor: pointer;
	height: 100%;
    box-sizing: border-box;
}
#main-content {
	background-color: #fff;
	float: left;
	width: calc(100% - 126px);
}
#main-content .header {
	height: 54px;
	line-height: 54px
}
#main-content .select-wrapp select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
	border: none;
    line-height: 25px;
    padding: 0 30px 0 10px;
	outline: none;
	color: #333;
}
#main-content .select-wrapp select::-ms-expand {display: none}
#main-content .select-wrapp {
	display: inline-block;
	border: 1px solid #ccc;
	line-height: 100%;
	position: relative
}
#main-content .select-wrapp:before {
	content: '';
	position: absolute;
    top: 10px;
    right: 10px;
    width: 0;
    height: 0;
    border-top: 5px solid #999;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
}
#main-content .header #lang {
	float: right;
	margin-right: 25px;
	margin-top: 18px
}
#main-content .header #vtype {
	float: left;
	margin-left: 25px;
	margin-top: 18px
}
#main-content .page-content {
	height: calc(100vh - 134px)
}
#graphs {
	border-top: 1px solid #eee;
	overflow: hidden;
	width: 100%;
}
#graphs .graph-container * {
	max-width: 100%;
	display: block
}
#graphs .big-col {
	border-right: 1px solid #eee;
	width: calc(70% - 1px);
	float: left;
    position: relative;
    z-index: 1;
}
#graphs .big-col .graph-container {
	border-bottom: 1px solid #eee;
	padding-bottom: 20px;
    padding-top: 20px;
}
#graphs .big-col .graph-container:first-child {padding-top: 0}
#graphs .big-col > .graph-container > div {
	height: 600px;
	clear: both
}
#graphs .big-col .half-col {
	float: left;
	width: 50%;
}
#graphs .small-col {
	width: 30%;
	float: left
}
#graphs .small-col .graph-container {
	border-bottom: 1px solid #eee;
	padding-bottom: 20px;
    padding-top: 20px;
}
#graphs .small-col .graph-container:first-child {padding-top: 0}
#main-content .footer {
	background-color: #a2a2a2;
	padding-left: 33px;
	height: 80px;
	line-height: 80px;
}
#main-content .footer p {
	color: #fff;
	font-size: 14px;
	margin: 0;
	line-height: 80px
}
#main-content .footer img {
	float: left;
	margin: 20px 25px 0 0
}


#main-content .info-row {
	height: 85px;
	line-height: 85px;
	border-top: 1px solid #E7EDE9;
	background-color: #F6F6F6;
	padding: 0 25px;
}
#main-content .info-row span {
	margin-left: 5%
}

/*** MOBILE DESIGN ***/
#mddm {display: none}
@media screen and (max-width: 980px){
	#graphs .big-col, #graphs .small-col {width: 100%}
	#graphs .small-col #graph-9, #graphs .small-col #graph-10 {float: left; width: 50%}
}
@media screen and (max-width: 640px){
	#graphs .big-col, #graphs .small-col {width: 100%}
	#graphs .big-col .half-col, #graphs .small-col #graph-9, #graphs .small-col #graph-10 {width: 100%}
}
@media screen and (max-width: 600px){
	#main-content .header {}
	#left-column {position: fixed; z-index: 11; width: 100%; height: 110px; padding: 0; min-height: unset}
	#left-column a.logo {float: left; margin: 0}
/*	#left-column .main-menu {text-align: center; height: 100%; box-sizing: border-box; padding: 0 126px}*/
	#left-column .main-menu ul {height: 100%; width: 100%}
	#left-column .main-menu ul li {display: inline-block; width: 20%; height: calc(100% - 4px); border-left: none; border-bottom: 4px solid #26AF73}
	#left-column .main-menu ul li.current {border-color: #fff}
	#graphs .graph-container > div {
		height: 425px!important;
		padding: 25px 0;
	}
	#left-column .menu-wrapper {
		position: absolute;
		width: 100%;
		background-color: #26AF73;
		left: 0;
		top: 110px;
		height: 110px;
		z-index: 11;
		padding: 0;
	}
	#left-column .menu-wrapper .main-menu {
		height: 100%;
	}
	#left-column .main-menu ul li {
		border-bottom: none;
		border-top: 4px solid #26AF73;
		width: 25%
	}
	
	#main-content {width: 100%; padding-top: 110px}
	#main-content .header {display: none; position: absolute; top: 111px; left: 0; background: #fff; z-index: 20; width: 100%; box-shadow: 0 0 10px #ccc;}
	#mddm {
		display: block; 
		position: absolute; 
		top: 35px; 
		right: 20px; 
	}
	#mddm a {
		display: block;
		width: 40px; 
		height: 25px;
		padding: 5px;
	}
	#mddm a span {
		display: block;
		border-top: 1px solid #fff; 
		width: 100%; 
		height: 100%;
		position: relative;
	}
	#mddm a span:before {
		content: '';
		position: absolute;
		height: 1px;
		background-color: #fff;
		width: 30px;
		top: 7px;
		right: 0;
	}
	#mddm a span:after {
		content: '';
		position: absolute;
		height: 1px;
		background-color: #fff;
		width: 30px;
		top: 15px;
		right: 0;
	}
}
@media screen and (max-width: 320px) {
}





.moveInUp-enter-active{
	animation: fadeIn 1s ease-in;
}
@keyframes fadeIn{
	0%{
		opacity: 0;
	}
	50%{
		opacity: 0.5;
	}
	100%{
		opacity: 1;
	}
}

.moveInUp-leave-active{
	animation: moveInUp .3s ease-in;
}
@keyframes moveInUp{
	0%{
		transform: translateY(0);
	}
	100%{
		transform: translateY(-400px);
	}
}