<template>
	<div class="main-menu">
		<ul>
      <router-link
          v-for="link in links"
          :key="link.url"
          active-class="active"
          :class="link.title | lowercase"
          tag="li"
          :to="link.url"
          exact

      >
        <a href="" class="">{{ link.title }}</a>
      </router-link>
		</ul>
	</div>
</template>

<script>
import localizeFilter from '@/filters/localize.filter'
export default {
  data: () => ({
    links: [
      { title: localizeFilter('MenuGlobal'), url: '/' },
      { title: localizeFilter('MenuNational'), url: '/national' },
      { title: localizeFilter('MenuLocal'), url: '/local' },
      { title: localizeFilter('MenuTesting'), url: '/testing' },
    ]
  }),
  filters: {
    lowercase(value) {
      return value.toLowerCase();
    }
  }
}
</script>
