<script>

export default {
	name: 'Local',
	data() {
		return {
			message: 'There is no information yet but it will be available soon.'
		}
	},
	methods: {
		goBack() {
			window.history.length > 1 ? this.$router.go(-1) : this.$router.push('/')
		}
	}  
}
</script>

<template>
	<div class="page-content">
		<h1>Local</h1>
		<p>{{message}}</p>
	</div>
</template>