<script>
import InfoRow from './PageNational/InfoRow.vue'
import GraphMap from './PageNational/GraphMap.vue'
import GraphViralPyramid from './PageNational/GraphViralPyramid.vue'
import GraphGospitalizations from './PageNational/GraphGospitalizations.vue'
import GraphFatalityRate from './PageNational/GraphFatalityRate.vue'
import GraphInfectionsRegions from './PageNational/GraphInfectionsRegions.vue'
import GraphPopulationFatality from './PageNational/GraphPopulationFatality.vue'
import GraphReproduction from './PageNational/GraphReproduction.vue'
import GraphGlobalDeath from './PageNational/GraphGlobalDeath.vue'
import GraphNewCases from './PageNational/GraphNewCases.vue'
import GraphInfections from './PageNational/GraphInfections.vue'
import GraphDeaths from './PageNational/GraphDeaths.vue'


export default {
	name: 'National',
	data() {
		return {
			message: 'This is the National page. There is no information yet but it will be available soon.'
		}
	},
	components: {
		InfoRow,
		GraphMap,
		GraphViralPyramid,
		GraphGospitalizations,
		GraphFatalityRate,
		GraphInfectionsRegions,
		GraphPopulationFatality,
		GraphReproduction,
		GraphGlobalDeath,
		GraphNewCases,
		GraphInfections,
		GraphDeaths
	},
	methods: {
		goBack() {
			window.history.length > 1 ? this.$router.go(-1) : this.$router.push('/')
		}
	}
}
</script>

<template>
	<div id="graphs">
		<InfoRow></InfoRow>
		<div class="big-col">
			<div class="half-col"><div class="graph-container" id="graph-1"><GraphMap></GraphMap></div></div>
			<div class="half-col"><div class="graph-container" id="graph-11"><GraphViralPyramid></GraphViralPyramid></div></div>
			<div class="graph-container" id="graph-2"><GraphGospitalizations></GraphGospitalizations></div>
			<div class="graph-container" id="graph-3"><GraphFatalityRate></GraphFatalityRate></div>
			<div class="half-col"><div class="graph-container" id="graph-4"><GraphInfectionsRegions></GraphInfectionsRegions></div></div>
			<div class="half-col"><div class="graph-container" id="graph-5"><GraphPopulationFatality></GraphPopulationFatality></div></div>
		</div>
		<div class="small-col">
			<div class="graph-container" id="graph-6"><GraphReproduction></GraphReproduction></div>
			<div class="graph-container" id="graph-7"><GraphGlobalDeath></GraphGlobalDeath></div>
			<div class="graph-container" id="graph-8"><GraphNewCases></GraphNewCases></div>
			<div class="graph-container" id="graph-9"><GraphInfections></GraphInfections></div>
			<div class="graph-container" id="graph-10"><GraphDeaths></GraphDeaths></div>
		</div>
  </div>
</template>