<template>
	<div id="graphs">
		<div class="big-col">
			<div class="graph-container" id="graph-1"><GraphMap></GraphMap></div>
			<div class="graph-container" id="graph-2"><GraphGospitalizations></GraphGospitalizations></div>
			<div class="graph-container" id="graph-3"><GraphFatalityRate></GraphFatalityRate></div>
			<div class="half-col"><div class="graph-container" id="graph-4"><GraphInfectionsRegions></GraphInfectionsRegions></div></div>
			<div class="half-col"><div class="graph-container" id="graph-5"><GraphPopulationFatality></GraphPopulationFatality></div></div>
		</div>
		<div class="small-col">
			<div class="graph-container" id="graph-6"><GraphReproduction></GraphReproduction></div>
			<div class="graph-container" id="graph-7"><GraphGlobalDeath></GraphGlobalDeath></div>
			<div class="graph-container" id="graph-8"><GraphNewCases></GraphNewCases></div>
			<div class="graph-container" id="graph-9"><GraphInfections></GraphInfections></div>
			<div class="graph-container" id="graph-10"><GraphDeaths></GraphDeaths></div>
		</div>
  </div>
</template>

<script>
import GraphMap from './PageGlobal/GraphMap.vue'
import GraphGospitalizations from './PageGlobal/GraphGospitalizations.vue'
import GraphFatalityRate from './PageGlobal/GraphFatalityRate.vue'
import GraphInfectionsRegions from './PageGlobal/GraphInfectionsRegions.vue'
import GraphPopulationFatality from './PageGlobal/GraphPopulationFatality.vue'
import GraphReproduction from './PageGlobal/GraphReproduction.vue'
import GraphGlobalDeath from './PageGlobal/GraphGlobalDeath.vue'
import GraphNewCases from './PageGlobal/GraphNewCases.vue'
import GraphInfections from './PageGlobal/GraphInfections.vue'
import GraphDeaths from './PageGlobal/GraphDeaths.vue'

export default {
  name: 'Global',
  data() {
    return {
      message: 'Global Page'
    }
  },
  components: {
    GraphMap,
    GraphGospitalizations,
    GraphFatalityRate,
    GraphInfectionsRegions,
    GraphPopulationFatality,
    GraphReproduction,
    GraphGlobalDeath,
    GraphNewCases,
    GraphInfections,
    GraphDeaths
  },
  methods: {
    goBack() {
      window.history.length > 1 ? this.$router.go(-1) : this.$router.push('/')
    }
  }
}
</script>