<template>
  <div class="page">
    <div id="left-column">
      <div class="column-wrapper">
        <a href="/" class="logo"><img src="../public/assets/static/img/logo.gif" alt="VH" /></a>
        <slide-up-down class="menu-wrapper" :active="menu" :duration="1000"><Navigation></Navigation></slide-up-down>
        <div id="mddm"><a @click="toggleMenu" href="#"><span></span></a></div>
      </div>
    </div>
    <div id="main-content">
      <div class="header">
        <div class="select-wrapp" id="lang"><select v-model="locale">
          <option value="en-US">English (US)</option>
          <option value="nl-NL">Netherlands</option>
          <option value="ru-RU">Русский</option>
        </select></div>
        <div class="select-wrapp" id="vtype"><select>
          <option>covid-19</option>
          <option>covid-18</option>
          <option>covid-15</option>
        </select></div>
      </div>
      <transition name="moveInUp">
        <router-view/>
      </transition>
      <div class="footer">
        <p><img src="../public/assets/static/img/logo-footer.png" /> &copy; 2020 Virushunt</p>
      </div>
    </div>
  </div>
</template>

<script>
import Navigation from './components/Navigation'

export default {
  name: 'app',
  data() {
    return {
      publicPath: process.env.BASE_URL,
      active: true,
      menu: true,
      duration: 500,
      useHidden: true
    }
  },
  created() {
    window.addEventListener('resize', this.handleResize);
    this.handleResize();
    this.$locale =  'en-US'
  },
  destroyed() {
    window.removeEventListener('resize', this.handleResize);
  },
  components: {
    Navigation
  },
  methods: {
    toggleMenu() {
      this.menu = !this.menu;
    },
    handleResize() {
      if (window.innerWidth <= 600) {
        this.menu = false
      } else {
        this.menu = true
      }
    }
  },
  watch: {
    duration() {
      this.duration = parseInt(this.duration);
    }
  }
}
</script>
<style>
@import "../public/assets/static/css/main.css";
</style>
