<script>

import axios from 'axios'
import {get} from 'lodash'

import {dataSource} from './conf/globaldeath.js'
import {endpointComponent} from './conf/globaldeath.js'


export default {
	name: 'ComponentGlobalDeath',
	data() {
		return {
			width: '100%',
			height: '500',
			type: 'stackedcolumn2d',
			dataFormat: 'json',
			dataSource: dataSource
		}
	},
	mounted() {
		this.loadDataForGlobalDeathGraph().then(() => {
			console.log('GlobalDeat Data Loaded');
		});
	},
	methods: {
		loadDataForGlobalDeathGraph () {
			return new Promise((resolve, reject) => {	
				axios.get(endpointComponent).then(response => {
					this.message = 'Everything is OK!'
					let jsonData = get(response, 'data')
					this.dataSource.categories = jsonData.categories
					this.dataSource.dataset = jsonData.dataset
					resolve(this.dataSource);
				}).catch(reason => {
					console.log('loadDataForGlobalDeathGraph: ERROR ERROR ERROR'); 
					console.log(reason); 
					reject(reason)
				})
			});
		}
	}
};
</script>




<template>
  <div id="ComponentGlobalDeath">
    <fusioncharts
    :type="type"
    :width="width"
    :height="height"
    :dataFormat="dataFormat"
    :dataSource="dataSource"
    ></fusioncharts>	
</div>
</template>
