<script>

import FusionCharts from "fusioncharts";
import Charts from "fusioncharts/fusioncharts.charts";

Charts(FusionCharts);

import axios from 'axios'
import {get} from 'lodash'

import {dataSource} from './conf/gospitalizations.js'
import {endpointComponent} from './conf/gospitalizations.js'

export default {
	name: 'ComponentGospitalizations',
	data: () => ({
		type: "stackedcolumn2d",
		width: "100%",
		height: "600",
		dataFormat: "json",
		dataSource
	}),
	mounted() {
		this.loadDataForGospitalizationsGraph().then(() => {
            console.log('Gospitalizations Data Loaded');
        });
	},
	methods: {
		loadDataForGospitalizationsGraph() {
			return new Promise((resolve, reject) => {	
				axios.get(endpointComponent).then(response => {
					this.message = 'Everything is OK!'
					let jsonData = get(response, 'data')
					this.dataSource.categories = jsonData.categories
					this.dataSource.dataset = jsonData.dataset
					resolve(this.dataSource);
				}).catch(reason => {
					console.log('loadDataForGospitalizationsGraph: ERROR ERROR ERROR'); 
					console.log(reason); 
					reject(reason)
				})
			})
        }
	}
};

</script>




<template>
  <div id="ComponentGospitalizations" style="background-color: #FFFDDC">
    <fusioncharts
    :type="type"
    :width="width"
    :height="height"
    :dataFormat="dataFormat"
    :dataSource="dataSource"
    ></fusioncharts>	
</div>
</template>