<script>
import FusionCharts from "fusioncharts";
import Charts from "fusioncharts/fusioncharts.charts";

Charts(FusionCharts);

import axios from 'axios'
import {get} from 'lodash'

import {dataSource} from './conf/deaths.js'
import {endpointComponent} from './conf/deaths.js'

export default {
	name: 'ComponentDeaths',
	data: () => ({
		type: "column2d",
		width: "100%",
		height: "400",
		dataFormat: "json",
		dataSource
	}),
	mounted() {
		this.loadDataForDeathsGraph().then( () => {
			console.log('Deaths Data Loaded');
		});
	},
	methods: {
		loadDataForDeathsGraph () {
			return new Promise((resolve, reject) => {	
				axios.get(endpointComponent).then(response => {
					this.message = 'Everything is OK!'
					let dataJson = get(response, 'data')
					this.dataSource.data = dataJson
					resolve(this.dataSource.data);
				}).catch(reason => {
					console.log('loadDataForDeathsGraph: ERROR ERROR ERROR'); 
					console.log(reason); 
					reject(reason)
				})
			});
		}
	}
};
</script>




<template>
  <div id="ComponentDeaths">
    <fusioncharts
    :type="type"
    :width="width"
    :height="height"
    :dataFormat="dataFormat"
    :dataSource="dataSource"
    ></fusioncharts>	
</div>
</template>
