<script>
import FusionCharts from "fusioncharts";
import Charts from "fusioncharts/fusioncharts.charts";

Charts(FusionCharts);

import axios from 'axios'
import {get} from 'lodash'

import {dataSource} from './conf/populationfatality.js'
import {endpointComponent} from './conf/populationfatality.js'

export default {
	name: 'ComponentPopulationFatality',
	data: () => ({
		type: 'msstepline',
		width: '100%',
		height: '300',
		dataFormat: 'json',
		dataSource
	}),
	mounted() {
		this.loadDataForPopulationFatalityGraph().then(() => {
			console.log('PopulationFatality Data Loaded');
		});
	},
	methods: {
		loadDataForPopulationFatalityGraph() {
			return new Promise((resolve, reject) => {	
				axios.get(endpointComponent).then(response => {
					this.message = 'Everything is OK!'
					let jsonData = get(response, 'data')
					if (jsonData) {
						console.log(jsonData);
					}
					resolve(this.dataSource);
				}).catch(reason => {
					console.log('loadDataForPopulationFatalityGraph: ERROR ERROR ERROR'); 
					console.log(reason); 
					reject(reason)
				})
			});
		}
	}
};
</script>




<template>
  <div id="ComponentPopulationFatality">
    <fusioncharts
    :type="type"
    :width="width"
    :height="height"
    :dataFormat="dataFormat"
    :dataSource="dataSource"
    ></fusioncharts>	
</div>
</template>
